.grid
    display: grid
    width: 800px
    margin: 100px auto 0
    grid-template-rows: 60px auto
    grid-template-columns: 80px auto 70px 200px 70px
    grid-gap: 10px
    & ul
        padding-left: 10px