<template>
    <div class="my-5">
        <form 
            @submit.stop.prevent 
            @keydown="data.errors.clear($event.target.id)" 
            @change="data.errors.clear($event.target.id)"
        >           
            <div class="form-group mb-4">
                <label for="client_email">Client email</label>
                <input 
                    v-model="data.client_email" 
                    type="text" 
                    class="form-control" 
                    id="client_email" 
                    placeholder="john@gmail.com"
                >
                <small class="form-text text-danger" v-if="data.errors.has('client_email')" v-text="data.errors.get('client_email')"></small>
            </div>
            <div class="form-group mb-4">
                <label for="partner_id">Partner</label>
                <select class="form-control" id="partner_id" v-model="data.partner_selected">
                    <option 
                        v-for="partner in data.partner_options" 
                        :key="partner.id" 
                        :value="partner.id">{{ partner.name }}
                    </option>
                </select>
                <small class="form-text text-danger" v-if="data.errors.has('partner_id')" v-text="data.errors.get('partner_id')"></small>
            </div>
            <div class="form-group mb-4">
                <label for="products">Products:</label>
                <ul>
                    <li v-for="product in data.products" :key="product.id">
                        <span>{{ product.name }}</span>
                        <small class="text-muted">Quantity: {{ product.quantity }}</small>
                    </li>
                </ul>
            </div>
            <div class="form-group mb-4">
                <label for="status">Status:</label>
                <select class="form-control" id="status" v-model="data.status_selected">
                    <option 
                        v-for="(status, index) in data.status_options" 
                        :key="index" 
                        :value="index">{{ status }}</option>
                </select>
                <small class="form-text text-danger" v-if="data.errors.has('status')" v-text="data.errors.get('status')"></small>
            </div>
            <div class="form-group mb-3">
                <strong>Total price: {{ data.order_price }}</strong>
            </div>

            <button 
                type="submit" 
                class="btn btn-primary"
                :disabled="data.errors.any() || data.btnIsActive" 
                @click="handleOk()">
                <i class="fa fa-spinner fa-spin mr-1" v-show="data.btnIsActive"></i> Save
            </button>
        </form>
    </div>
</template>

<script>
    import formErrors from '../modules/formErrors';

    export default {

        props: ['order', 'products', 'partners'],

        data() {
            return {
                data: {
                    client_email: this.order.client_email,                    
                    partner_selected: this.order.partner_id,
                    partner_options: this.partners,
                    products: this.products,
                    status_selected: this.order.status,
                    status_options: {
                        0: 'New',
                        10: 'Confirmed',
                        20: 'Finished'
                    },
                    order_price: this.order.order_price,
                    errors: new formErrors({}),
                    btnIsActive: false
                }
            }
        },

        methods: {
            /**
             * Update an order
             */
            handleOk() {
                this.data.btnIsActive = true;

                axios.patch('/orders/' + this.order.id, {
                    client_email: this.data.client_email,
                    partner_id: this.data.partner_selected,
                    status: this.data.status_selected
                })
                .then(success => window.location.href = `${window.location.origin}/orders`)
                .catch(errors => {
                    this.data.errors.record(errors.response.data.errors);
                })
                .finally(() => this.data.btnIsActive = false);
            },
        }
    }
</script>
